@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
   font-family: 'Inter';
   src: url('/fonts/Inter-UI-Regular.otf') format('opentype');
}

* {
   font-family: 'Inter', sans-serif;
   color: white;
}

body {
   @apply bg-background-black p-12;
}

.label {
   @apply text-white;
}

.input {
   @apply w-full py-3 px-6 mt-3 bg-background-gray rounded-lg text-white;
}

.btn-main-green {
   @apply w-full bg-main-green text-white rounded-lg mx-auto my-3 py-3;
}
