@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
   font-family: 'inter';
   src: url('/fonts/Inter-UI-Regular.otf'), url('/fonts/Inter-UI-MediumItalic.otf'),
      url('/fonts/Inter-UI-Medium.otf'), url('/fonts/Inter-UI-Italic.otf'),
      url('/fonts/Inter-UI-BoldItalic.otf'), url('/fonts/Inter-UI-Bold.otf'),
      url('/fonts/Inter-UI-BlackItalic.otf'), url('/fonts/Inter-UI-Black.otf');
}

* {
   font-family: 'inter', sans-serif;
}

body {
   @apply bg-background-black p-12;
}

.label {
   @apply text-white;
}

.input {
   @apply w-full py-3 px-6 mt-3 bg-background-gray rounded-lg text-white;
}

.btn-main-green {
   @apply w-full bg-main-green text-white font-bold rounded-lg mx-auto my-3 py-3;
}
