@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
   font-family: 'Inter';
   src: url('/fonts/Inter-Black.ttf');
}
@font-face {
   font-family: 'InterBold';
   src: url('/fonts/Inter-Bold.ttf');
}

* {
   font-family: 'Inter', sans-serif;
   color: white;
}

html {
   margin: 0 !important;
   padding: 0 !important;
}

input,
input::placeholder {
   font-family: 'InterBold', sans-serif;
}

body {
   padding: 0 !important;
   @apply bg-background-green p-12;
}

.label {
   @apply text-white;
}

.input {
   @apply w-full py-3 px-6 mt-3 bg-background-gray rounded-lg text-white;
}

.btn-main-green {
   @apply w-full bg-main-green text-white rounded-lg mx-auto my-3 py-3;
}
